<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../../../public/css/login style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<center>
	<form>
		<hr>
			<h1>Log in</h1>
		<hr>
		<p>
			<div>
				<label>Usuario</label>
			</div>
			<input type="text" name="user">
		</p>

		<p>
			<div>
				<label>Contraseña</label>
			</div>
			<input type="password" name="password" required>
		</p>

		<p>
			<div>
				<label>Confirmar Contraseña</label>
			</div>
			<input type="password" name="conf_pass"  required>
		</p>

		<p>
			<input type="submit" value="Entrar" class="bots">
			<input type="reset" value="Cancelar" class="bots">
		</p>
	</form>
</center>
</body>
</html>